body{
    background-color: burlywood;
}

form{
    border: 1px solid black;
    width: 300px;
    margin: auto;
    text-align: center;
    padding-bottom: 15px;
}

h1{
    text-align: center;
    color: green;
}